* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.book {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: gainsboro;
}
h4 {
  margin-top: 10px;
}
.book_list {
  display: grid;
  grid-template-columns:50% 50%;
  /* gap: 20px; */
}
.book_item {
  margin: 50px;
  background-color: white;
  padding: 20px;

}
.book_item img {
  width: 100%;
}
.book_item p {
  margin: 10px;
}
.book_item button {
  background-color: black;
  color: whitesmoke;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}